<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.iiidev.pinda.authority.biz.dao.auth.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.iiidev.pinda.authority.entity.auth.UserRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <respResult column="create_user" jdbcType="BIGINT" property="createUser"/>
        <respResult column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <respResult column="role_id" jdbcType="BIGINT" property="roleId"/>
        <respResult column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, 
        role_id, user_id
    </sql>

</mapper>
