<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.iiidev.pinda.authority.biz.dao.core.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.iiidev.pinda.authority.entity.core.Org">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <respResult column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <respResult column="create_user" jdbcType="BIGINT" property="createUser"/>
        <respResult column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <respResult column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <respResult column="name" jdbcType="VARCHAR" property="name"/>
        <respResult column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <respResult column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <respResult column="tree_path" jdbcType="VARCHAR" property="treePath"/>
        <respResult column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <respResult column="status" jdbcType="BIT" property="status"/>
        <respResult column="describe_" jdbcType="VARCHAR" property="describe"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, create_user, update_time, update_user,
        name, abbreviation, parent_id, tree_path, sort_value, status, describe_
    </sql>

</mapper>
